<!-- Habitaciones.hbs -->
<div class="py-4">
  <h2>Lista de habitaciones disponibles</h2>  
  <hr> 
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tipo de habitación</th>
        <th scope="col">Número</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Disponibilidad</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each habitaciones}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.tipo_habitacion}}</td>
        <td>{{this.numero}}</td>
        <td>{{this.descripcion}}</td>
        <td>{{this.precio}}</td>
        <td>{{#if this.disponibilidad}}Disponible{{else}}No Disponible{{/if}}</td>
        <td>  
          {{#if this.disponibilidad}}
            <button class="btn btn-outline-success" onclick="reservar('{{this.id}}')">Reservar</button>
          {{else}}
            <button class="btn btn-outline-danger" onclick="eliminarReserva('{{this.id}}')">Eliminar reserva</button>
          {{/if}}
        </td> 
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  // Función para reservar habitación
  const reservar = async (habitacionId) => {
    try {
      const response = await axios.post(`/habitaciones/reserva/${habitacionId}`);
      if (response.status === 200) {
        alert('Habitación reservada con éxito.');
        window.location.reload(); // Recargar la página después de reservar
      } else {
        alert('Ha ocurrido un error al reservar la habitación.');
      }
    } catch (error) {
      const errorMessage = error.response.data.message || 'Ha ocurrido un error al reservar la habitación.';
      alert(errorMessage);
    }
  };

  // Función para eliminar reserva
  const eliminarReserva = async (habitacionId) => {
    try {
      const response = await axios.post(`/habitaciones/eliminar-reserva/${habitacionId}`);
      if (response.status === 200) {
        alert('Reserva eliminada con éxito.');
        window.location.reload(); // Recargar la página después de eliminar la reserva
      } else {
        alert('Ha ocurrido un error al eliminar la reserva.');
      }
    } catch (error) {
      const errorMessage = error.response.data.message || 'Ha ocurrido un error al eliminar la reserva.';
      alert(errorMessage);
    }
  };
</script>
